---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="About" description="About this blog">
	<Header slot="header" />
	
  <article class="prose prose-zinc dark:prose-invert lg:prose-xl mx-auto font-serif mt-12">
    <h1>About</h1>
    <p>
      Thinking about design, code, and the web.
    </p>
    <p>
      Built with <a href="https://astro.build">Astro</a> and <a href="https://tailwindcss.com">Tailwind CSS</a>.
    </p>
    <p>
      Inspired by <a href="https://blog.leowang.net/">Leo Wang</a>.
    </p>
  </article>

	<Footer slot="footer" />
</BaseLayout>
